
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap');

body,html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   /* background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
}
.color_p {
   color : #ee4269 !important;
}
.chat{
    margin-top: auto;
    margin-bottom: auto;
}
.card{
    height: 500px;
    border-radius: 15px !important;
    border-color: #d0d0f6;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: #d0d0f6;
}
.card-footer{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: #d0d0f6;
}
.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(97, 93, 93, 0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: rgba(97, 93, 93, 0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
.type_msg:focus{
    box-shadow:none !important;
    outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active{
    background-color: #e17ca5;
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #78e08f;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: #666666; /***/
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: #ee4269;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #9b9af3;
padding: 10px 30px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #e17ca5;
padding: 10px 30px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: #666666;
font-size: 10px;
width: 8vw;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: #666666;
font-size: 10px;
width: 8vw;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}

/* LOGIN */

.container_img{ 
    background-size: 100% 100%;
    background-image: url('../chat3.jpg') !important ;
    background-repeat: no-repeat;
}

.login{
    border-radius: 17px !important;
    border : 1.5px solid #d0d0f6;
    height: auto;
    width: 80%;
}

.card-header-login{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
    background-color: #d0d0f6;
}
.card-footer-login{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    background-color: #d0d0f6;
}

.title_p{
    color: #ee4269;
    font-size: 45px;
    font-family: 'Pacifico', cursive;
}
.text_p{
    color: #666666;
    font-weight: bold;
}

.form_input{ 
    width: 70%;
}

.form_input input{
    border-radius: 20px;
    border: 1px solid #d0d0f6;
    height: 50px;
    padding: 1rem 2rem ;    
}
.mx-10{
    margin: 0 4rem;
}

.form_btn{ 
    width: 70%;
    display: flex;
    justify-content: center;
}
.btn_login{
    border-radius: 20px;  
    height: 50px;
    width: 50%;  
    background-color: #ee4269;
    color: #f5f6fa;  
    text-align: center;
    font-weight: bold;
}

.btn_login:hover{
    background-color: #7674f1;
    color: #f5f6fa;   
    
}


.prueba{
    background-color: red;
}

.login_footer{
    padding: 1rem 2rem ;
    
}
.login_footer a{
    text-decoration: none;
    color: #e17ca5;
 
}

.error ul li{
    list-style: none;
}


@media(max-width: 576px){
    .contacts_card{
    margin-bottom: 15px !important;
    }
    .container_img{
        display: none;
    }
    .login{
        height: 90%;
        width: 90%;
    }

    .title_p{
       font-size: 35px;
    }
    
    .mx-10{
        margin: 4rem  auto
    }
 
    
}

@media(max-width: 760px){
    
    
}